@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    max-width: 700px;
   
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #fff
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    background-color:  #fff;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgba(18, 14, 71, 0.5); */
}

header img{
    transition: transform 0.5s;
}
header img:hover{
    transform: scale(1.1, 1.1);
}

header ul a img{
    width: 150px;
    border-radius: 50%;
}

header ul {
    list-style: none;
    /* Centraliza e distribui */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /**/
}

header ul li {
    margin-left: 15px;
}

header ul li a{
    text-decoration: none;
    color: rgb(69, 8, 167);
    font-size: 19px;
    transition: color 0.5s;
}

header ul li a:hover{
    color: rgb(173, 32, 173);
}

#banner{
    width: 100%;
    height: 300px;
    background-color:#1e112e;
    margin-top: 150px;
}

#banner img {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#equipe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#equipe img {
    width: 250px;   
   margin-top: 50px;
   
}

#equipe h1{
    color: #fff;
}

#equipe2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    
}
#equipe2 img {
    width: 250px;
    margin-top: 100px;
    margin-bottom: 30px; 
    
}

#equipe3{
    margin-top: 60px;
    background-color: #1e112e;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
}
#equipe3 img {
    width: 250px;
    margin-top: 100px; 
    
}

#conteudoequipe2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#desc p{
    width: 500px;
    margin-top: 20px;
    
}

form{
    width: 100%;
}

  form input,
form textarea,
form button {
  padding: 10px;
  border-radius: 5px;
  margin-top: 7px;
  border: 1px solid transparent;
  /* transition: border-color linear 0.2s; */
}

#form-content {
  display: flex;
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  max-width: 500px;
  margin-top: 100px;
}

.form-group{
   display: flex;
   flex-direction: column; 
}

form button{
    width: 100%;
    margin-top: 30px;
    background-color: #fff;
    color: blueviolet;
    font-weight: 600;
    font-size: 15px;

}

video{
    width: 100%;
}
