*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
   
    margin: 0 auto;
}

body{
    background: black
}

header ul a img{
    width: 150px;
    border-radius: 50%;
}

header ul {
    list-style: none;
    /* Centraliza e distribui */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /**/
}

header ul li {
    margin-left: 15px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

header ul li a:hover{
    color: crimson;
}

#banner{
    width: 100%;
    height: 300px;
    background-color: #333;
    margin-top: 15px;
}

#banner img {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#equipe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#equipe img {
    width: 250px;   
   margin-top: 50px;
}

#equipe h1{
    color: #fff;
}

#equipe2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: cornsilk;
    
}
#equipe2 img {
    width: 250px;
    margin-top: 100px;   
}


#equipe2 p{
    width: 500px;
    margin-top: 20px;
    
}
#equipe2 p{
    text-decoration: slategrey;
}